.logo {
  height: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&family=PT+Sans+Caption:wght@400;700&display=swap');

.navbar {
  background-color: white;
  font-family: 'PT Sans Caption', sans-serif;
}


.top {
  padding-top: 15px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.user_table {
  width: 100rem;
  margin: 10px;
}

::-webkit-scrollbar {
  display: none;
}
.smooth-scrolling {
  scroll-behavior: smooth; /* Enable smooth scrolling */
}