.logo {
  height: 50px;
}

.navbar {
  background-color: white;
}

.top {
  padding-top: 15px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.topcard {
  padding: 12px 12px 12px 12px ;
  border-radius: 10px;
}

.bottom {
  padding-top: 15px;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
}

.user_table {
  width: 100rem;
  margin: 10px;
}


